SchemaDefinitions/Common/KenanFx.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- edited with XMLSpy v2006 U (http://www.altova.com) by BMP-U2C (BMP-U2C) -->
<!--Created with Liquid XML Studio 6.1.15.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema xmlns:cmn="http://xsd.telecomitalia.it/Schema/Common/HeaderU2C"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:q1="http://xsd.telecomitalia.it/Schema/Common/HeaderU2C"
	 xmlns:ns1="http://xsd.telecomitalia.it/Schema/Common/U2C_KENAN"
	 targetNamespace="http://xsd.telecomitalia.it/Schema/Common/U2C_KENAN"
	 version="1000"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">

	<!--	<xs:import namespace="http://xsd.telecomitalia.it/Schema/Common/HeaderU2C" schemaLocation="HeaderU2C.xsd"/>-->
	<xs:element name="KenanFx" type="ns1:KenanFxType"/>
	<xs:element name="SID" type="ns1:KenanFxType"/>
	<xs:complexType name="KenanFxType">
		<xs:sequence>
			<xs:element name="header" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="businessID" type="xs:string" minOccurs="0"/>
						<xs:element name="messageID" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="24"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="destinationSystem" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="25"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="sourceSystem" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="25"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="requestSoruceSystem" type="xs:string" minOccurs="0"/>
						<xs:element name="transactionID" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="24"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="returnCodeDescription" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="80"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="returnCode" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="25"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="messageCode" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="25"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="messageType" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="interactionDate" type="xs:string" minOccurs="0"/>
						<xs:element name="scope" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ProductOrder" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProductOrderItem" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ProductComponent">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="InteractionStatus" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="id" type="xs:string" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="CustomerAccountProductInvolvement" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="BillingAccount" minOccurs="0">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="CFA" type="xs:string" minOccurs="0"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Agreement" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="agreementDocumentNumber" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="12"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ProductOffering" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ResourceForOffering" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="NumericAddress" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="prefix" type="xs:string" minOccurs="0"/>
															<xs:element name="shortNumber" type="xs:string" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FrameworkAgreement" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="agreementDocumentNumber" type="xs:string" minOccurs="0"/>
						<xs:element name="Agreement" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="agreementDocumentNumber" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Customer" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>